# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

In [26]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

# Read the CSV file into a DataFrame
customer_data_df = pd.read_csv(url)
display(customer_data_df.head(5)) # prints the top 5 rows and tail displays the bottom #

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
#- Identify the dimensions of the dataset by determining the number of rows and columns it contains.

#Identify the dimensions of the dataset
dimensions = customer_data_df.shape
display(dimensions)

In [ ]:
#- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
#You should also provide suggestions for fixing any incorrect data types.
#Determine the data types of each column 

data_types = customer_data_df.dtypes
display(data_types)

#evaluate whether they are appropriate for the nature of the variable
data_info = customer_data_df.info()
display(data_info)

# Recommendations for fixing incorrect data types
print("\nRecommendations for fixing incorrect data types:")
for column in customer_data_df.columns:
    dtype = customer_data_df[column].dtype
    if dtype == 'object':
        # Suggest conversion if appropriate
        if customer_data_df[column].nunique() < threshold:
            print(f"Column '{column}' should be converted to 'category' type.")
        else:
            try:
                pd.to_numeric(customer_data_df[column])
                print(f"Column '{column}' can be converted to a numeric type.")
            except ValueError:
                print(f"Column '{column}' is appropriately kept as 'object'.")

In [ ]:
customer_data_df.info()

In [ ]:

# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

#Identify the number of unique values for each column
unique_values = customer_data_df.nunique()

# thecolumns that are categorical
threshold = 9
categorical_columns = unique_values[unique_values < threshold].index.tolist()
display(unique_values, categorical_columns)


# Describe the unique values of each categorical column 
for i in categorical_columns:
    display(i)
    display(customer_data_df[i].unique())

categorical_columns = ["ST", "GENDER", "Education", "Policy Type", "Vehicle Class"]
for col in categorical_columns:
    print(customer_data_df[col].value_counts())

#numerical columns    
numerical_columns = ["Income", "Monthly Premium Auto", "Total Claim Amount"]
for column in numerical_columns:
    range = customer_data_df[column].max() - customer_data_df[column].min()
    print("The range for column", column, "is", range)

In [ ]:
#Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. 
# You should also provide your conclusions based on these summary statistics.
#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
#compute summary statistics
summary_statistics = customer_data_df.describe()
display(summary_statistics)

"""customer_data_df.describe(include='number') will include floats and integers
customer_data_df.describe(include='object')"""

#calculate mean, median, standard devidation, quartiles 
def data_distribution():
    mean = customer_data_df[column].mean()
    median = customer_data_df[column].median()
    standard_deviation = customer_data_df[column].std()
    quartiles = customer_data_df[column].quantile([0.25, 0.5, 0.75])
    display(mean, median, standard_deviation, quartiles)

#summary statistics for categorical columns
for statistics in categorical_columns:
    print(f"\nColumn '{statistics}':")
    print(customer_data_df[statistics].describe())

#Conclusions for categorical columns
for column in categorical_columns:
    count = customer_data_df[column].value_counts()
    print(f"\nColumn '{column}':")
    print(count)

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:

# Top 5 least common customer locations in ascending order
# least_common_locations = location_frequencies.nsmallest(5)
# display(least_common_locations)

least_common_locations= pd.Series(customer_data_df["ST"].value_counts.tail(5).sort_values)
display(least_common_locations)

""The nsmallest(n) method in pandas is used to retrieve the smallest n elements from a Series or DataFrame. 
When applied to a Series, it returns a new Series containing the smallest n values, sorted in ascending order by default."""

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:

# Calculate policy type frequencies
policy_type = policy_type_column.value_counts()
display(policy_type)
    
# Retrieve the policy type with the highest number of policies sold
most_common_policy_type = policy_type.idxmax()
most_common_policy_count = policy_type.max()
display(f"{most_common_policy_type}: {most_common_policy_count}")


"""idxmax() method in pandas returns the index (or label) of the first occurrence of the maximum value in a Series or DataFrame. 
It is typically used after aggregations like value_counts() to find the index corresponding to the maximum value."""

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
income_personal_auto = customer_data_df.loc[customer_data_df["Policy Type"] == "Personal Auto"]
display(income_personal_auto)

#income of corporate cuto
income_corporate_auto = customer_data_df.loc[customer_data_df["Policy Type"] == "Corporate Auto"]
display(income_corporate_auto)

#average income 
average_income_personal_auto = customer_data_df.loc[customer_data_df["Policy Type"] == "Personal Auto", "Income"].mean()
display(average_income_personal_auto)
average_income_corporate_auto = customer_data_df.loc[customer_data_df["Policy Type"] == "Corporate Auto", "Income"].mean()
display(average_income_corporate_auto)

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here